@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffe6d9;
}

.header {
  padding: 20px;
}

.calculator-wrapper {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.calculator {
  font-size: 70px;
  object-fit: cover;
  height: fit-content;
  background-color: #eb886f;
  border-radius: 60px;
  padding: 20px;
}

.calculator-screen-bg {
  display: flex;
  background-color: black;
  justify-content: center;
  height: 180px;
  align-items: flex-end;
  border-radius: 60px 60px 0px 0px;
}

.calculator-screen-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 80px;
  width: 90%;
  margin-bottom: 20px;
  background-color: rgb(122, 129, 122);
}

.calculator-screen {
  padding-right: 5px;
}

.calculator-buttons-bg {
  background-color: #e76f51;
  border-radius: 0px 0px 60px 60px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  padding: 10px;
  padding-top: 40px;
  color: rgb(236, 236, 236);
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.buttonClicked {
  animation-name: buttonAnimation;
  animation-duration: 110ms;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(0.88);
  }
  100% {
    transform: scale(1);
  }
}

.grid-item:hover {
  cursor: pointer;
}

[data-key="0"] {
  background-color: #930100;
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
  height: auto;
}

[data-key="="] {
  background-color: #930100;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  width: auto;
  height: auto;
}

[data-key="c"],
[data-key="b"] {
  font-size: 20px;
}

.credits {
  text-align: center;
  padding: 20px;
  background-color: rgb(236, 236, 236);
}

.calculator-buttons {
  /* Disable text select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
