.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.grid-item {
}

[data-key="0"] {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}

[data-key="="] {
  background-color: red;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
